/**
 * @file
 * Styles for custom Share Module
 */
/* line 15, ../sass/popup.scss */
.popup {
  z-index: 10001;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
/* line 26, ../sass/popup.scss */
.popup .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.6;
  cursor: pointer;
}
/* line 37, ../sass/popup.scss */
.popup .canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 500px), screen and (max-height: 500px) {
  /* line 37, ../sass/popup.scss */
  .popup .canvas {
    padding: 0;
  }
  /* line 53, ../sass/popup.scss */
  .popup .canvas .page {
    background: white;
    width: 100%;
  }
  /* line 57, ../sass/popup.scss */
  .popup .canvas .page .popup_body {
    width: 100%;
    max-width: 100% !important;
  }
}
/* line 64, ../sass/popup.scss */
.popup .canvas .page {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 72, ../sass/popup.scss */
.popup .canvas .page .popup_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 50px;
  background: #81899b;
  text-align: center;
  font-family: sans-serif;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: default;
}
/* line 91, ../sass/popup.scss */
.popup .canvas .page .popup_header .close_btn, .popup .canvas .page .popup_header .send_btn {
  position: absolute;
  top: 0;
  bottom: 0;
  line-height: 50px;
  width: 50px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 25px;
  color: white;
  border: none;
}
/* line 110, ../sass/popup.scss */
.popup .canvas .page .popup_header .close_btn {
  left: 0;
  font-family: fontello-share;
}
/* line 115, ../sass/popup.scss */
.popup .canvas .page .popup_header .send_btn {
  right: 0;
  font-size: 15px;
  width: 60px;
  text-transform: uppercase;
  font-weight: bold;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 125, ../sass/popup.scss */
.popup .canvas .page .popup_header .send_btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* line 130, ../sass/popup.scss */
.popup .canvas .page .popup_header .popup_title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
  right: 50px;
  line-height: 50px;
  font-family: sans-serif;
  margin: 0;
  color: white;
}
@media screen and (max-width: 500px) {
  /* line 130, ../sass/popup.scss */
  .popup .canvas .page .popup_header .popup_title {
    font-size: 21px;
  }
}
/* line 151, ../sass/popup.scss */
.popup .canvas .page .popup_body {
  display: inline-block;
  max-width: 600px;
  max-height: 100%;
  overflow: auto;
  padding-top: 50px;
  background: white;
  text-align: left;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  cursor: default;
}
/* line 170, ../sass/popup.scss */
.popup .canvas .page .popup_body .popup_form {
  padding: 10px;
}
/* line 174, ../sass/popup.scss */
.popup .canvas .page .popup_body .popup_form input, .popup .canvas .page .popup_body .popup_form textarea {
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 179, ../sass/popup.scss */
.popup .canvas .page .popup_body .popup_form #edit-share-submit {
  display: none;
}
/* line 183, ../sass/popup.scss */
.popup .canvas .page .popup_body .popup_form .form-item-share-body {
  margin: 0;
}
/* line 189, ../sass/popup.scss */
.popup .canvas .page .popup_body .popup_msg {
  text-align: center;
  color: red;
  margin: 0;
}
/* line 194, ../sass/popup.scss */
.popup .canvas .page .popup_body .popup_msg.has-msg {
  margin: 15px 0 10px;
}

/* line 206, ../sass/popup.scss */
.popup_form {
  display: none;
}
