/* line 30, ../sass/share_links.scss */
.block-share-links a, .share-links a, .icon-replace {
  font-size: 0;
  text-align: center;
}

/* line 35, ../sass/share_links.scss */
.block-share-links a:after, .share-links a:after, .icon-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-indent: 0;
  text-align: center;
}

/* line 50, ../sass/share_links.scss */
.block-share-links, .share-links {
  position: static;
  display: block;
  clear: both;
  margin-left: 10px;
  margin-bottom: 15px;
}
/* line 52, ../sass/share_links.scss */
.block-share-links > h2, .block-share-links .block-header, .share-links > h2, .share-links .block-header {
  display: none;
}
/* line 56, ../sass/share_links.scss */
.block-share-links .popup_form, .share-links .popup_form {
  display: none;
}
/* line 60, ../sass/share_links.scss */
.block-share-links .contextual-links-wrapper, .share-links .contextual-links-wrapper {
  display: none !important;
}
/* line 67, ../sass/share_links.scss */
.block-share-links a, .share-links a {
  display: inline-block;
  position: relative;
  width: 40px !important;
  height: 40px !important;
  float: left;
  overflow: hidden;
  border: none;
}
/* line 81, ../sass/share_links.scss */
.block-share-links a *, .share-links a * {
  display: none;
}
/* line 85, ../sass/share_links.scss */
.block-share-links a:after, .share-links a:after {
  z-index: 1;
}
@media screen and (min-width: 700px) {
  /* line 96, ../sass/share_links.scss */
  .block-share-links.sticky-able, .share-links.sticky-able {
    position: fixed;
    width: 40px;
    left: 0;
    z-index: 10001;
    margin: 0;
  }
  /* line 104, ../sass/share_links.scss */
  .block-share-links.sticky-able.no-sticky, .share-links.sticky-able.no-sticky {
    position: absolute;
  }
  /* line 108, ../sass/share_links.scss */
  .block-share-links.sticky-able a, .share-links.sticky-able a {
    float: left;
    background-image: none !important;
    -ms-border-radius: 0;
    -webkit-border-radius: 0;
    -mox-border-radius: 0;
    border-radius: 0;
    -ms-transition: width .2s, border-radius .1s, box-shadow .1s;
    -webkit-transition: width .2s, border-radius .1s, box-shadow .1s;
    -moz-transition: width .2s, border-radius .1s, box-shadow .1s;
    transition: width .2s, border-radius .1s, box-shadow .1s;
  }
  /* line 124, ../sass/share_links.scss */
  .block-share-links.sticky-able a:first-child, .share-links.sticky-able a:first-child {
    -ms-border-radius: 0 2px 0 0;
    -webkit-border-radius: 0 2px 0 0;
    -moz-border-radius: 0 2px 0 0;
    border-radius: 0 2px 0 0;
  }
  /* line 131, ../sass/share_links.scss */
  .block-share-links.sticky-able a:last-of-type, .share-links.sticky-able a:last-of-type {
    border-radius: 0 0 2px 0;
    -ms-border-radius: 0 0 2px 0;
    -webkit-border-radius: 0 0 2px 0;
    -moz-border-radius: 0 0 2px 0;
    border-radius: 0 0 2px 0;
  }
  /* line 139, ../sass/share_links.scss */
  .block-share-links.sticky-able a:hover, .share-links.sticky-able a:hover {
    width: 56px !important;
    -ms-border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    -ms-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
  }
  /* line 153, ../sass/share_links.scss */
  .block-share-links.sticky-able a:after, .share-links.sticky-able a:after {
    line-height: 40px;
    font-size: 21px;
    color: white;
    background: none;
  }
  /* line 161, ../sass/share_links.scss */
  .block-share-links.sticky-able a.google-plus:after, .share-links.sticky-able a.google-plus:after {
    line-height: 42px;
  }
  /* line 164, ../sass/share_links.scss */
  .block-share-links.sticky-able a.email:after, .share-links.sticky-able a.email:after {
    font-size: 19px;
  }
}
/* line 181, ../sass/share_links.scss */
.block-share-links a, .share-links a {
  float: none;
  vertical-align: top;
  margin-right: 10px;
  background-image: none !important;
  border-radius: 0;
}
/* line 189, ../sass/share_links.scss */
.block-share-links a:after, .share-links a:after {
  line-height: 40px;
  font-size: 18px;
  color: #868686;
  background-color: white;
  -ms-transition: background-color .3s, color .3s;
  -webkit-transition: background-color .3s, color .3s;
  -moz-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
}
/* line 203, ../sass/share_links.scss */
.block-share-links a:hover, .share-links a:hover {
  -ms-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
  border-radius: 2px;
}
/* line 210, ../sass/share_links.scss */
.block-share-links a:hover:after, .share-links a:hover:after {
  color: white;
  background-color: rgba(255, 255, 255, 0);
}
/* line 222, ../sass/share_links.scss */
.block-share-links a:after, .share-links a:after {
  font-family: "fontello-share";
}
/* line 226, ../sass/share_links.scss */
.block-share-links a.email, .share-links a.email {
  background: #81899b;
}
/* line 228, ../sass/share_links.scss */
.block-share-links a.email:after, .share-links a.email:after {
  content: 'M';
}
/* line 233, ../sass/share_links.scss */
.block-share-links a.facebook, .share-links a.facebook {
  background: #3b5998;
}
/* line 235, ../sass/share_links.scss */
.block-share-links a.facebook:after, .share-links a.facebook:after {
  content: 'f';
}
/* line 240, ../sass/share_links.scss */
.block-share-links a.google-plus, .share-links a.google-plus {
  background: #dd4b39;
}
/* line 242, ../sass/share_links.scss */
.block-share-links a.google-plus:after, .share-links a.google-plus:after {
  content: 'g';
}
/* line 247, ../sass/share_links.scss */
.block-share-links a.twitter, .share-links a.twitter {
  background: #00aced;
}
/* line 249, ../sass/share_links.scss */
.block-share-links a.twitter:after, .share-links a.twitter:after {
  content: 't';
}
/* line 254, ../sass/share_links.scss */
.block-share-links a.linkedin, .share-links a.linkedin {
  background: #007bb6;
}
/* line 256, ../sass/share_links.scss */
.block-share-links a.linkedin:after, .share-links a.linkedin:after {
  content: 'l';
}
/* line 261, ../sass/share_links.scss */
.block-share-links a.github, .share-links a.github {
  background: #b65750;
}
/* line 263, ../sass/share_links.scss */
.block-share-links a.github:after, .share-links a.github:after {
  content: 'G';
}
/* line 268, ../sass/share_links.scss */
.block-share-links a.flicker, .share-links a.flicker {
  background: #ff0084;
}
/* line 270, ../sass/share_links.scss */
.block-share-links a.flicker:after, .share-links a.flicker:after {
  content: 'F';
}
/* line 275, ../sass/share_links.scss */
.block-share-links a.reddit, .share-links a.reddit {
  background: #5aacff;
}
/* line 277, ../sass/share_links.scss */
.block-share-links a.reddit:after, .share-links a.reddit:after {
  content: 'r';
}
/* line 282, ../sass/share_links.scss */
.block-share-links a.instagram, .share-links a.instagram {
  background: #340206;
}
/* line 284, ../sass/share_links.scss */
.block-share-links a.instagram:after, .share-links a.instagram:after {
  content: 'i';
}
/* line 289, ../sass/share_links.scss */
.block-share-links a[data-pin-href*='pinterest'], .share-links a[data-pin-href*='pinterest'] {
  background-image: none !important;
  background: #cb2027;
  height: 40px !important;
}
/* line 293, ../sass/share_links.scss */
.block-share-links a[data-pin-href*='pinterest']:after, .share-links a[data-pin-href*='pinterest']:after {
  content: 'p';
}
