/**
 * @file
 * Styles for custom Share Module
 */
 
// Compass
// ----------------------------------------------------------------------------
@import "compass";

$popup-accent-bg: #81899B;
$popup-header-h: 50px;

$break-popup: 500px;

.popup {
  
  z-index: 10001;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  overflow: hidden;

  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.6;
    cursor: pointer;
  }
  
  .canvas {
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    padding: 5%;
    text-align: center;
    
    cursor: pointer;
    
    @media screen and (max-width: $break-popup), screen and (max-height: $break-popup) {
      padding: 0;
      
      .page {
        background: white;
        width: 100%;
        
        .popup_body {
          width: 100%;
          max-width: 100% !important;
        }
      }
    }
    
    .page {
      
      display: inline-block;
      position: relative;
      overflow: hidden;
      height: 100%;
      @include border-radius(2px);
      
      .popup_header {
        
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        height: $popup-header-h;
        
        background: $popup-accent-bg;

        text-align: center;
        font-family: sans-serif;
        
        @include box-shadow(0 0 5px 0 rgba(0,0,0,.6));
        border-bottom: 1px solid rgba(0,0,0,.1);
        
        cursor: default;
        
        .close_btn, .send_btn {
          
          position: absolute;
          top: 0;
          bottom: 0;
          line-height: $popup-header-h;
          
          width: 50px;
          text-align: center;
          
          display: inline-block;
          cursor: pointer;
          
          font-size: 25px;
          color: white;
          
          border: none;
        }
        
        .close_btn {
          left: 0;
          font-family: fontello-share;
        }
        
        .send_btn {
          right: 0;
          font-size: 15px;
          width: 60px;
          
          text-transform: uppercase;
          font-weight: bold;
          
          border-left: 1px solid rgba(0,0,0,.3);
          
          &:hover {
            background: rgba(255,255,255,.2);
          }
        }
        
        .popup_title {
          
          position: absolute;
          top: 0;
          bottom: 0;
          left: 50px;
          right: 50px;
          line-height: $popup-header-h;
          
          font-family: sans-serif;
          
          margin: 0;
          color: white;
          
          @media screen and (max-width: 500px) {
            font-size: 21px;
          }
        }
        
      }
      
      .popup_body {
        //padding: 10px;
        
        display: inline-block;
        
        max-width: 600px;
        max-height: 100%;
        overflow: auto;

        padding-top: $popup-header-h;
        background: white;
        
        text-align: left;
        
        @include border-radius(2px);
        
        cursor: default;

        
        .popup_form {
          
          padding: 10px;
          
          input, textarea {
            width: 100%;
            @include border-radius(2px);
          }
          
          #edit-share-submit {
            display: none;
          }
          
          .form-item-share-body {
            margin: 0;
          }
          
        }
        
        .popup_msg {
          text-align: center;
          color: red;
          margin: 0;
          
          &.has-msg {
            margin: 15px 0 10px;
          }
        }
      }
      
    }
    
  }
  
}

.popup_form {
  display: none;
}