$share-btn-h: 40px;
$share-btn-padding: $share-btn-h / 4;
$share-btn-expand: $share-btn-h * .4;
$share-btn-radius: 2px;
$share-btn-shadow: "0px 0px 5px 0px rgba(0,0,0,.3)";
$share-btn-font: 'fontello-share';
$share-bg: white;

$share-top: 35%;
$break-share: 700px;

$email-bg: #81899B;
$facebook-bg: #3b5998;
$plus-bg: #dd4b39;
$twitter-bg: #00aced;
$youtube-bg: #bb0000;
$pinterest-bg: #cb2027;
$flicker-bg: #ff0084;
$linkedin-bg: #007bb6;
$instagram-blue: #517fa4;
$github-bg: #B65750;
$flicker-bg: #FF0084;
$instagram-bg: #340206;
$reddit-bg: #5AACFF;


//////////
/// Mixins

%icon-replace, .icon-replace {
  font-size: 0;
  text-align: center;
}

%icon-fill, .icon-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-indent: 0;
  text-align: center;
}



/////////////////
/// Share Buttons

.block-share-links, .share-links {
  
  > h2, .block-header {
    display: none;
  }
  
  .popup_form {
    display: none;
  }
  
  .contextual-links-wrapper {
    display: none !important;
  }
  
  ///////
  /// All
  
  a {
              
    display: inline-block;
    position: relative;
    width: $share-btn-h !important;
    height: $share-btn-h !important;
    
    float: left;
    overflow: hidden;
    
    border: none;
    
    @extend %icon-replace;
    
    * {
      display: none;
    }
    
    &:after {
      @extend %icon-fill;
      z-index: 1;
    }
  }
  
  
  ////////////////
  /// Sticky Share
  
  @media screen and (min-width: $break-share) {
    &.sticky-able {
      
      position: fixed;
      width: $share-btn-h;
      left: 0;
      z-index: 10001;
      margin: 0;
      
      &.no-sticky {
        position: absolute;
      }
      
      a {
        
        float: left;
        
        background-image: none !important;
        
        -ms-border-radius: 0;
        -webkit-border-radius: 0;
        -mox-border-radius: 0;
        border-radius: 0;
        
        -ms-transition: width .2s, border-radius .1s, box-shadow .1s;
        -webkit-transition: width .2s, border-radius .1s, box-shadow .1s;
        -moz-transition: width .2s, border-radius .1s, box-shadow .1s;
        transition: width .2s, border-radius .1s, box-shadow .1s;
        
        &:first-child {
          -ms-border-radius: 0 $share-btn-radius 0 0;
          -webkit-border-radius: 0 $share-btn-radius 0 0;
          -moz-border-radius: 0 $share-btn-radius 0 0;
          border-radius: 0 $share-btn-radius 0 0;
        }
        
        &:last-of-type {
          border-radius: 0 0 $share-btn-radius 0;
          -ms-border-radius: 0 0 $share-btn-radius 0;
          -webkit-border-radius: 0 0 $share-btn-radius 0;
          -moz-border-radius: 0 0 $share-btn-radius 0;
          border-radius: 0 0 $share-btn-radius 0;
        }
        
        &:hover {
          width: $share-btn-h + $share-btn-expand !important;
          
          -ms-border-radius: 0 $share-btn-radius $share-btn-radius 0;
          -webkit-border-radius: 0 $share-btn-radius $share-btn-radius 0;
          -moz-border-radius: 0 $share-btn-radius $share-btn-radius 0;
          border-radius: 0 $share-btn-radius $share-btn-radius 0;
          
          -ms-box-shadow: #{$share-btn-shadow};
          -webkit-box-shadow: #{$share-btn-shadow};
          -moz-box-shadow: #{$share-btn-shadow};
          box-shadow: #{$share-btn-shadow};
        }
        
        &:after {
          line-height: $share-btn-h;
          font-size: 21px;
          color: white;
          background: none;
        }
        
        /// individual icon adjustments
        &.google-plus:after {
          line-height: $share-btn-h + 2px;
        }
        &.email:after {
          font-size: 19px;
        }
      }
    }
  }
  
  
  ////////////////
  /// Inline Share

  position: static;  
  display: block;
  clear: both;
  margin-left: $share-btn-padding;
  margin-bottom: 15px;
  
  a {
    
    float: none;
    vertical-align: top;
    margin-right: $share-btn-padding;
    background-image: none !important;
    border-radius: 0; // $share-btn-radius;
    
    &:after {
      
      line-height: $share-btn-h;
      font-size: 18px;
      
      color: #868686;
      background-color: rgba($share-bg, 1);
      
      -ms-transition: background-color .3s, color .3s;
      -webkit-transition: background-color .3s, color .3s;
      -moz-transition: background-color .3s, color .3s;
      transition: background-color .3s, color .3s;
    }
    
    &:hover {
      -ms-box-shadow: #{$share-btn-shadow};
      -webkit-box-shadow: #{$share-btn-shadow};
      -moz-box-shadow: #{$share-btn-shadow};
      box-shadow: #{$share-btn-shadow};
      border-radius: $share-btn-radius;
      
      &:after {
        color: white;
        background-color: rgba($share-bg, 0);
      }
    }
  }
  
  ////////////////////////
  /// Set Icons and Colors
  
  a {
      
    &:after {
      font-family: $share-btn-font;
    }
    
    &.email {
      background: $email-bg;
      &:after {
        content: 'M';
      }
    }
    
    &.facebook {
      background: $facebook-bg;
      &:after {
        content: 'f';
      }
    }
    
    &.google-plus {
      background: $plus-bg;
      &:after {
        content: 'g';
      } 
    }
    
    &.twitter {
      background: $twitter-bg;
      &:after {
        content: 't';
      }
    }
    
    &.linkedin {
      background: $linkedin-bg;
      &:after {
        content: 'l';
      }
    }
    
    &.github {
      background: $github-bg;
      &:after {
        content: 'G';
      }
    }
    
    &.flicker {
      background: $flicker-bg;
      &:after {
        content: 'F';
      }
    }
    
    &.reddit {
      background: $reddit-bg;
      &:after {
        content: 'r';
      }
    }
    
    &.instagram {
      background: $instagram-bg;
      &:after {
        content: 'i';
      }
    }
    
    &[data-pin-href*='pinterest'] {
      background-image: none !important;
      background: $pinterest-bg;
      height: 40px !important;
      &:after {
        content: 'p';
      }
    }
  }
}