
.icon-left-small:before { content: '\3c'; } /* '&lt;' */
.icon-right-small:before { content: '\3e'; } /* '&gt;' */
.icon-flickr:before { content: '\46'; } /* 'F' */
.icon-github:before { content: '\47'; } /* 'G' */
.icon-mail-alt:before { content: '\4d'; } /* 'M' */
.icon-cancel:before { content: '\58'; } /* 'X' */
.icon-youtube:before { content: '\59'; } /* 'Y' */
.icon-dropbox:before { content: '\64'; } /* 'd' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-gplus:before { content: '\67'; } /* 'g' */
.icon-instagram-1:before { content: '\69'; } /* 'i' */
.icon-linkedin:before { content: '\6c'; } /* 'l' */
.icon-email:before { content: '\6d'; } /* 'm' */
.icon-pinterest:before { content: '\70'; } /* 'p' */
.icon-reddit:before { content: '\72'; } /* 'r' */
.icon-skype:before { content: '\73'; } /* 's' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vimeo:before { content: '\76'; } /* 'v' */
.icon-cancel-1:before { content: '\78'; } /* 'x' */
.icon-youtube-play:before { content: '\79'; } /* 'y' */