@font-face {
  font-family: 'fontello-share';
  src: url('../font/fontello-share.eot?63841782');
  src: url('../font/fontello-share.eot?63841782#iefix') format('embedded-opentype'),
       url('../font/fontello-share.woff?63841782') format('woff'),
       url('../font/fontello-share.ttf?63841782') format('truetype'),
       url('../font/fontello-share.svg?63841782#fontello-share') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello-share';
    src: url('../font/fontello-share.svg?63841782#fontello-share') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello-share";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left-small:before { content: '\3c'; } /* '&lt;' */
.icon-right-small:before { content: '\3e'; } /* '&gt;' */
.icon-flickr:before { content: '\46'; } /* 'F' */
.icon-github:before { content: '\47'; } /* 'G' */
.icon-mail-alt:before { content: '\4d'; } /* 'M' */
.icon-cancel:before { content: '\58'; } /* 'X' */
.icon-youtube:before { content: '\59'; } /* 'Y' */
.icon-dropbox:before { content: '\64'; } /* 'd' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-gplus:before { content: '\67'; } /* 'g' */
.icon-instagram-1:before { content: '\69'; } /* 'i' */
.icon-linkedin:before { content: '\6c'; } /* 'l' */
.icon-email:before { content: '\6d'; } /* 'm' */
.icon-pinterest:before { content: '\70'; } /* 'p' */
.icon-reddit:before { content: '\72'; } /* 'r' */
.icon-skype:before { content: '\73'; } /* 's' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vimeo:before { content: '\76'; } /* 'v' */
.icon-cancel-1:before { content: '\78'; } /* 'x' */
.icon-youtube-play:before { content: '\79'; } /* 'y' */